.o-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение заднего фона */
  }
  
  .o-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
  
  .o-form-group {
    margin-bottom: 15px;
  }
  
  .o-orm-group label {
    font-weight: bold;
  }
  
  .o-form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  
  .o-form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .o-form-group button:hover {
    background-color: #0056b3;
  }
  
  .o-error-message {
    color: red;
    margin-top: 10px;
  }