.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logout-button {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  
  .token-info {
    margin-right: 10px;
  }