body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.route-container {
  display: flex;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

.page-frame {
  border: 1px solid #ccc;
  flex: 1;
  margin-left: 20px;
  position: relative;
}

.buttons-container .btn {
  border-radius: 8px;
  transition: box-shadow 0.3s, background-color 0.3s; /* Плавное анимирование изменений */
}

.buttons-container .btn.btn-primary.active,
.buttons-container .btn.btn-primary:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для усиления выделения */
  background-color: #220ba5; /* Изменение цвета фона для активной кнопки */
}

.page-number {
  background-color: #007bff;
  color: #fff;
  border-radius: 25px;
  padding: 8px 16px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
  position: absolute; /* Переходим на абсолютное позиционирование */
  bottom: 0; /* Помещаем элемент внизу */
  right: 0; /* Помещаем элемент справа */
}
